<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
</head>
<body>
  <h1>Andrew Dallas</h1>
  <h3>About Me</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
      molestiae sed, architecto ullam consequuntur in cupiditate ipsam fugit
      minima. Est commodi, tempore quisquam quas nam architecto minus asperiores,
      laudantium sit!
  </p>

</body>
<% include partials/footer.ejs %>
</html>
