
<% include partials/head.ejs %>
<body>
  <div class="container">
    <h1>Andrew Dallas</h1>
    <h3>Contact Me</h3>
    <h4>Phone: (302)229-2233</h4>
    <h4><a href="https://linkedin.com/in/andrew-dallas">Linkedin</a></h4>
    <h4><a href="adal1@live.com">Email</a></h4>
  </div>
</body>
<% include partials/footer.ejs %>
</html>
