
<% include partials/head.ejs %>
<body>
<div class="container">
  <h1>Andrew Dallas</h1>
    <nav>
        <div class="nav-wrapper">
          <a href="/"  class="brand-logo left"> AD</a>
          <ul class="right">

            <li><a href="./contact">Contact</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </nav>
  <h3>My Projects</h3>

  <div class="row">
        <div class="col s8 m4">
          <div class="card">
            <div class="card-image">
              <img src="../images/punch-in.jpg">
              <span class="card-title">Punch-In</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Laboriosam ipsum labore veniam cupiditate recusandae qui harum
                minus voluptatibus, voluptate, neque repudiandae modi explicabo
                tempore at iure error, minima iusto fugit.
              </p>
            </div>
            <div class="card-action">
              <a href="http://punch-in.bitballoon.com">Check it out!</a>
            </div>
          </div>
        </div>
      </div>
  <div class="row">
        <div class="col s8 m4">
          <div class="card">
            <div class="card-image">
              <img src="../images/tile-game.jpg">
              <span class="card-title white black-text">Tile Game</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Laboriosam ipsum labore veniam cupiditate recusandae qui harum
                minus voluptatibus, voluptate, neque repudiandae modi explicabo
                tempore at iure error, minima iusto fugit.
              </p>
            </div>
            <div class="card-action">
              <a href="https://andrewdallas1.github.io/tile_game/">Check it out!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<% include partials/footer.ejs %>
</html>
