a {
  font-weight: bold;
  text-decoration: none;
  &:hover { text-decoration: underline; }
  padding: 20px;
}


.brand-logo {
  padding-right: 50px;
}

img {
  height: 250px;
}

.brand-logo {
  margin-left: 20px;
}

.card-image {
  height: 250px;
}

.card-content {
  height: 250px;
}

.devicon {
 font-size: 75px;
 display: inline;
 margin: 25px;
}

#about {
  font-size: 18px;
}

.card-title {
  padding: 2px;
}


